---
layout: wide
title: Home
modified-date: 2015-03-05
---
<!-- https://css-tricks.com/design-considerations-text-images/ -->

<div class="hero">
	<div class="hero-inner">
	  <div class="hero-copy">
	    <h1 class="white margin-below-quarter"><a class="white" href="{{site.baseurl }}/about">{{ site.title }}</a></h1>
	    <p><em>{{ site.data.details.description }}</em></p>	
	    <p class="down-arrow"><a href="#main-work"><img width="25" height="15" src="images/down-arrow.png" alt="Scroll down to continue"></a></p>
	  </div>
  </div>
</div>
    
    <div class="main-work" id="main-work">
      <h2><strong>Featured stories</strong></h2>
      {% for post in site.posts limit:5 %}
				{% if post.featured %}
					<article class="media">
						<a href="{{site.baseurl }}/{{ post.url }}">
			       <img src=http://placekitten.com/g/200/150 alt="" class=media__img>
			       <div class="media__body">
			       <h1 class="article-list-title">{{ post.title }} </h3> 
             <p class="article-list-excerpt">{{ post.excerpt }}</p> 
            </a> 
			   </article>		    	
			  {% endif %}
			{% endfor %}

			 <h3><strong><a href="{{site.baseurl }}/articles">View all stories</a></strong></h3>
		</div>


