<header role="banner">

	<nav role="navigation" class="main-nav" id="the-nav">
		<a class="main-nav-logo" href="/">LOGO</a>

		<div class="main-nav-menu">
			<ul class="nav">	  
				    <li><a title="Bio" href="{{site.baseurl }}about">Bio</a></li>
				    <li><a title="Articles" href="{{site.baseurl }}articles">Articles</a></li>
				    <li><a title="Films" href="{{site.baseurl }}films">Films</a></li>
				    <li><a title="Book" href="{{site.baseurl }}books/the-sleeping-buddha">Book</a></li>
			</ul>
		</div>
	</nav>

</header>