// Footer

footer {
  clear: both;
  @include inuit-font-size($inuit-heading-size-6, 1.4);
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid $inuit-base-grey-color-4;
  padding-bottom: $inuit-base-spacing-unit--large;
}

.copyright {
	padding-top: $inuit-base-spacing-unit;
	padding-bottom: $inuit-base-spacing-unit--smallest;
}

