.main-nav {
	background-color: #f7f5f5;
  border-bottom: 1px solid #d6d3d3;
  padding: $inuit-base-spacing-unit--small;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}

.main-nav-logo {
	float: left;
	position: relative;
	z-index: 2;
}

.main-nav-menu {
    float: right;
    position: relative;
    z-index: 1;
}

.nav {
    list-style:none;
    margin-left:0;
    margin-bottom: 0;

    > li{
    	list-style: none;
    	padding-left: inuit-base-spacing-unit;

        &,
        > a{
            display:inline-block;
           *display:inline;
            zoom:1;
        }
    }
}