.main-nav {
	background-color: #f7f5f5;
  border-bottom: 1px solid $inuit-base-grey-color-4;
  padding: $inuit-base-spacing-unit--small;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;

  @include breakpoint(small) { 
		text-align: center;
	}
}

.main-nav-logo {

	@include breakpoint(small) { 
		float: none;
	}

	@include breakpoint(medium) { 
		float: left;
		position: relative;
		z-index: 2;
	}

	@include breakpoint(large) { 
		float: left;
		position: relative;
		z-index: 2;
	}
}

.main-nav-menu {

 @include breakpoint(small) { 
		float: none;
	}

	@include breakpoint(medium) { 
		 float: right;
    position: relative;
    z-index: 1;
		
	}

	@include breakpoint(large) { 
		 float: right;
    position: relative;
    z-index: 1;
		
	}
}

.nav {
    list-style:none;
    margin-left:0;
    margin-bottom: 0;

    > li{
    	list-style: none;
    	padding-right: $inuit-base-spacing-unit--smallest;

        &,
        > a{
            display:inline-block;
           *display:inline;
            zoom:1;
        }
    }
}