---
layout: default
title: Articles
categories:
- articles
---
	
	<div class="content-list">		
		<h1 class="alpha centre padding-above">Articles</h1>

		{% for post in site.categories.articles %}
			{% for country in post.countries %}
				{% unless result contains country %}
			     {% capture result %}{{ result }}|{{ country }}{% endcapture %} 
			  {% endunless %}      
	    {% endfor %}			
	  {% endfor %}
		
			{% assign myArray = {{result}} | split: "|" | sort | %}

			<ul id="filter" class="nav centre">

				<li class="all"><a href="#">All</a>

			{% for thecountry in myArray %}

					<li id="nav-country-{{thecountry | downcase | replace: ' ', '-'}}"><a href="#{{thecountry | downcase | replace: ' ', '-'}}">{{thecountry}}</a></li>

			{% endfor %}

		</ul>

	<div id="list">

		{% for post in site.categories.articles  %}

			<article class="work-article {% for country in post.countries %}{{country | downcase | replace: ' ', '-'}} {% endfor %}">
				<time class="work-article-date" datetime="{{ post.date | date_to_xmlschema }}" class="page-date">{{ post.date | date: "%B %Y" }}</time>
		    <h1 class="work-title"><a href="{{site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1> 
		     <p class="work-excerpt">{{ post.excerpt }}</p> 

		    </article>

		{% endfor %}

	</div>		

</div>

<script>
var currentHashNav = null;

//Call this, passing it a callback function
function initHashNav(callback) {			
	if (!callback) return false;

	if (typeof callback !== "function") {
		throw "Sorry, that url does not exist. Please try again.";
		return false;
	}

	if ("onhashchange" in window) {
	    window.onhashchange = function(){checkHash(callback);};
	} else {
	    setInterval(function(){checkHash(callback);}, 100);        
	}

	checkHash(callback);
}

//Function called onhashchange or on loop (for older browsers)
function checkHash(callback) {	
	if (window.location.hash.replace(/^#/i,"") !== currentHashNav) {
		var newHash = window.location.hash.replace(/^#/i,"");		

		var chopped = chopHash(newHash);			
		callback(chopped);

		currentHashNav = newHash;
	}
}

function chopHash(hash) {	
	//Do something with the new hash
	var hash = {
		raw: hash,
		base: decodeURIComponent(hash),
		parameters: null
	}

	return hash;
}

function updateNav(hash) {  
	var hashValue = hash.raw; 
	$('#filter .current').removeClass('current');
	var navValue = document.getElementById('nav-country-' + hashValue);
	navValue.setAttribute("class", "current");
	console.log (hashValue);

	if (!hashValue || 0 === hashValue.length) {
        $('#list article.hidden').fadeIn('slow').removeClass('hidden');
    } else {
			    	$('#list article').each(function () {
			      if (!$(this).hasClass(hashValue)) {
			          $(this).fadeOut('fast').addClass('hidden');
			      } else {
			          $(this).fadeIn('slow').removeClass('hidden');
			      }
			  });
		}		    	
}

initHashNav(updateNav);


</script>

<style>
.hidden {
	display: none;
}

.current {
	border-bottom: 3px solid #00f;
}

</style>




